.parent {

    border: 2px solid #000;
}
#kid {
    position: absolute;
    width: 100%;
    position: absolute;
    transform: translateY(80px);
}

.title {
    font-weight: 700;
    color: #fff;
    margin: 0
}
