.parent {
    border: 2px solid #000;
}
#kid {
    position: absolute;
    width: 100%;
    position: absolute;
    height: 500px;
/* background: #000046; */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
    background: linear-gradient(to top, #1CB5E0, #000046);
}

$small: 300px;
$medium: 900px;

.title {

    font-weight: 600;
    color: #fff;
    margin: 0;
    font-size: 3rem;
    line-height: 3.5rem;

    @media (max-width: $medium) {
      font-weight: 600;
      color: #fff;
      margin: 0;
      font-size: 1.5rem;
      line-height: 1.5rem;
  }
}

.containerHomeSection {
    
}