.parent {
    border: 2px solid #000;
}
#kid {
    position: absolute;
    width: 100%;
    position: absolute;
    height: 500px;
/* background: #000046; */
    background: -webkit-linear-gradient(to top, #1CB5E0, #000046);
    background: linear-gradient(to top, #1CB5E0, #000046);
}

.title {
    font-weight: 700;
    color: #fff;
    margin: 0;
    font-size: calc(60% + 5.6vmin)
}