.parent {

    border: 2px solid #000;
}
#kid {
    position: absolute;
    width: 100%;
    margin: 10px 37;
    top: 100px;
    position: absolute;
    transform: translateY(80px);
}

.title {
    font-weight: 700;
    color: #fff;
    margin: 0
}
