.parent {

    border: 2px solid #000;
}
#kid {
    position: absolute;
    width: 98%;
    margin: 10px 37;
    top: 165px;
    position: absolute;
    transform: translateY(80px);
}

.title {
    font-weight: 700;
    color: #fff
}
