.parent {

    border: 2px solid #000;
}
#kid {
    position: absolute;
    width: 99%;
    margin: 10px auto;
    border: 2px solid #f00;
    top: 189px;
    position: absolute;
}

.title {
    font-weight: 700;
    color: #fff
}
