.slick-dots-carousel {

    .slick-dots {
        bottom: 0px;
        display: flex;
        right: 120%;
        top: 4rem;
        
    }

    .slick-dots.slick-thumb {
        display: flex;
    }

    .slick-dots li {
        width: 169px;
        display: inline;
    }

    .slick-prev:before{
        content: "";
    }
    
    .slick-next:before{
        content: "";
    }
}
